.carousel {
  max-width: 600px;
  width: 100%;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  position: relative;
  --separation: 5px;
}

.content-cover {
  max-width: 600px;
  width: 100%;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  gap: 16px;
  justify-content: start;
  overflow-x: scroll;
  position: relative;
  --separation: 5px;
  scroll-behavior: smooth;
}

.arrow {
  position: absolute;
  font-size: 3rem;
  color: var(--git-color);
  z-index: 10;
  margin: auto 0;
  background-color: rgba(44, 40, 40, 0.705);
  border-radius: 50px;
  padding: 0.3rem;
  top: 55%;
}

.arrow:hover {
  cursor: pointer;
}

.arrow:first-child {
  left: var(--separation);
}

.arrow:last-child {
  right: var(--separation);
}

@media (min-width: 600px) {
  .carousel {
    /* --separation: -10%;  */
  }
}
