.carousel {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
  --separation: 5px;
  gap: 16px;
  flex-direction: row;
  flex-wrap: wrap;
}

.arrow {
  position: absolute;
  font-size: 2.3rem;
  color: var(--git-color);
  z-index: 10;
  margin: auto 0;
  background-color: rgba(44, 40, 40, 0.921);
  border-radius: 50px;
  padding: 0.3rem;
  top: 25%;
}

.arrow:hover {
  cursor: pointer;
}

.arrow:first-child {
  left: var(--separation);
}

.arrow:last-child {
  right: var(--separation);
}

@media (min-width: 400px) {
  .arrow {
    font-size: 3rem;
  }
}

@media (min-width: 900px) {
  .carousel {
    max-width: 100%;
    justify-content: space-around;
    padding: 3rem;
  }

  .content-cover {
    display: flex;
    justify-content: center;
    overflow: auto;
    flex-flow: wrap;
  }

  .arrow {
    display: none;
  }
}
