.arrow-item {
  height: 10rem;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.arrow-cover {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  position: relative;
  height: 5rem;
  width: fit-content;
}

.showInterception > .arrow-cover {
  -webkit-animation: arrowSlide 2s ease-in-out infinite;
  -moz-animation: arrowSlide 2s ease-in-out infinite;
  animation: arrowSlide 2s ease-in-out infinite;
}

.arrow-shape {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-top: 5px solid whitesmoke;
  border-left: 5px solid whitesmoke;
  transform: rotate(45deg);
}

@-webkit-keyframes arrowSlide {
  0% {
    bottom: 10%;
  }

  50% {
    bottom: 30%;
  }
  100% {
    bottom: 10%;
  }
}
@-moz-keyframes arrowSlide {
  0% {
    bottom: 10%;
  }

  50% {
    bottom: 30%;
  }
  100% {
    bottom: 10%;
  }
}
@keyframes arrowSlide {
  0% {
    bottom: 10%;
  }

  50% {
    bottom: 30%;
  }
  100% {
    bottom: 10%;
  }
}

@media (min-width: 650px) {
  .arrow-item {
    height: 6rem;
  }

  .arrow-cover {
    align-items: flex-end;
    transform: rotate(180deg);
    position: relative;
    height: 4rem;
    width: fit-content;
    margin-top: 1rem;
  }

  .arrow-shape {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 1000px) {
  .arrow-item {
    display: none;
  }
}
