.cover-lang-icons,
.cover-techs-icons {
  width: 100%;
}
.icon-cover {
  width: 4rem;
  height: 4rem;
  /* background: white; */
  display: flex;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  position: relative;
  /* transition: all 1.3s linear; */
  background-clip: clip;
}

.inner-icon-cover {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}

.inner-icon-cover > img {
  width: 3rem;
  height: 3rem;
}

.inner-icon-cover > h4 {
  font-size: 0.8rem;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
}

.express-bg {
  background: white;
}

@media (min-width: 600px) {
  .inner-icon-cover {
    width: 5rem;
    height: 5rem;
  }

  .inner-icon-cover > img {
    width: 3rem;
    height: 3rem;
  }
}
