#header {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
#header > div {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  padding: 0;
  justify-content: space-between;
  color: var(--dark-blue);
  position: relative;
}

.header-inner-div {
  max-width: 1950px;
  display: flex;
  flex-direction: column;
}

#header > div > div:first-child {
  text-align: left;
  padding: 1rem;
}

#header > div > div:nth-child(2) {
  margin-bottom: 1rem;
  position: sticky;
}

#header > div > div:first-child > h1 {
  font-size: 2.1rem;
  text-transform: uppercase;
}

#header > div > div:first-child > h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  position: relative;
  width: fit-content;
}

#header > div > div:first-child > h2::after {
  position: absolute;
  content: "";
  background-color: var(--dark-blue);
  width: 0%;
  height: 1px;
  bottom: 0%;
  left: 0%;
  -webkit-animation: showBorderSubtitle 2s ease-in-out forwards;
  -moz-animation: showBorderSubtitle 2s ease-in-out forwards;
  animation: showBorderSubtitle 2s ease-in-out forwards;
}

@-webkit-keyframes showBorderSubtitle {
  100% {
    left: 0%;
    width: 100%;
  }
}
@-moz-keyframes showBorderSubtitle {
  100% {
    left: 0%;
    width: 100%;
  }
}
@keyframes showBorderSubtitle {
  100% {
    left: 0%;
    width: 100%;
  }
}

#header > div > div:nth-child(2) > span {
  flex: 1;
  text-align: center;
}

#contact-list {
  height: 0;
  opacity: 0;
  transition: height 0s;
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
  padding: 0 1rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  text-transform: capitalize;
  color: var(--dark-blue);
}

.link:hover {
  color: #02547d;
}

/* #email {
  color: var(--email-color);
}

#cv {
  color: var(--dark-blue);
}

#linkedin {
  color: var(--linkedin-color);
} */

#slider-controller {
  display: flex;
  width: 100%;
  transition: all 1s ease-out;
  padding: 0.5rem 0;
}

#slider-controller > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 90%;
}

#slider-controller > label > svg {
  rotate: 180deg;
  width: fit-content;
  transition: rotate 0.5s ease-out;
}

#slider-controller > input {
  position: absolute;
  opacity: 0;
  width: 83%;
  height: 24px;
}

.slider-icon-on {
  rotate: 0deg !important;
}

.contact-list-show {
  transition: all 1s ease-in !important;
  opacity: 1 !important;
  height: fit-content !important;
}

@media (min-width: 450px) {
  #header > div {
    flex-direction: row;
    justify-content: space-between;
  }

  #header > div > div:first-child {
    padding-right: 0;
  }
  #contact-list {
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    padding-left: 0;
  }

  #contact-list > li > a > span {
    width: fit-content;
    position: relative;
  }

  /*  #contact-list > li > a > span::after {
    content: "";
    width: 0%;
    left: 4%;
    height: 2px;
    position: absolute;
    bottom: 10%;
    -webkit-animation: showBorder 1s ease-in-out alternate;
    -moz-animation: showBorder 1s ease-in-out alternate;
    animation: showBorder 1s ease-in-out alternate;
    background-color: var(--dark-blue);
  } */

  /* #contact-list > li > a:hover > span::after {
    content: "";
    width: 0%;
    left: 4%;
    height: 2px;
    position: absolute;
    bottom: 10%;
    -webkit-animation: showBorder 1s ease-in-out alternate;
    -moz-animation: showBorder 1s ease-in-out alternate;
    animation: showBorder 1s ease-in-out alternate;
    background-color: var(--dark-blue);
  } */

  #contact-list > li > #linkedin > span::after {
    animation-delay: 2.5s;
  }
  #contact-list > li > #cv > span::after {
    animation-delay: 3.5s;
  }
  #contact-list > li > #email > span::after {
    animation-delay: 4.5s;
  }

  @-webkit-keyframes showBorder {
    100% {
      left: 4%;
      width: 96%;
    }
  }
  @-moz-keyframes showBorder {
    100% {
      left: 4%;
      width: 96%;
    }
  }
  @keyframes showBorder {
    100% {
      left: 4%;
      width: 96%;
    }
  }

  /*  #contact-list > li > #email > span::after {
    background-color: var(--email-color);
  }

  #contact-list > li:hover > #email {
    color: var(--email-color);
  }

  #contact-list > li > #cv > span::after {
    background-color: var(--node-color);
  }

  #contact-list > li:hover > #cv {
    color: var(--node-color);
  }

  #contact-list > li > #linkedin > span::after {
    background-color: var(--linkedin-color);
  }

  #contact-list > li:hover > #linkedin {
    color: var(--linkedin-color);
  } */
}

@media (min-width: 1168px) {
  #contact-list > li > a > span::after {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }

  #contact-list > li > a:hover > span::after {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    width: 90%;
  }

  #contact-list > li > #linkedin > span::after {
    animation-delay: 0s;
  }
  #contact-list > li > #cv > span::after {
    animation-delay: 0s;
  }
  #contact-list > li > #email > span::after {
    animation-delay: 0s;
  }

  /* #email {
    color: var(--dark-blue);
  }

  #cv {
    color: var(--dark-blue);
  }

  #linkedin {
    color: var(--dark-blue);
  } */
  #header > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex: 0.9;
  }

  #header > div > div:first-child {
    padding-left: 0.5rem;
  }

  #header > div > div:nth-child(2) {
    display: flex;
    background: none;
    justify-content: flex-end;
    padding-right: 0;
    margin-bottom: 0;
  }

  #header > div > div > h1,
  #header > div > div > h2 {
    word-spacing: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
  }

  #header > div > div:first-child > h1 {
    font-size: 2rem;
  }

  #contact-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    padding: 0 0.7rem;
  }

  #contact-list > li > a {
    display: flex;
    justify-content: left;
    gap: 0.4rem;
    align-items: center;
    /* color: darkgray; */
    padding: 0.1rem;
    transition: all 0.5s ease-out;
    text-transform: capitalize;
    font-size: 1.2rem;
    width: fit-content;
  }

  #contact-list > li:hover > a {
    /* font-weight: 400; */
    cursor: pointer;
    scale: 1.2;
  }

  #contact-list > li > a > span {
    width: fit-content;
    position: relative;
  }
}

@media (min-width: 2000px) {
  #header > div > div:first-child > h1 {
    font-size: 3rem;
  }

  #header > div > div:first-child > h2 {
    font-size: 1.8rem;
  }

  #contact-list > li > a {
    font-size: 1.6rem;
  }
}
