.exp-cover {
  display: flex;
  background: var(--soft-gray);
  padding: 1rem 0.7rem;
  /* min-height: 80vh; */
}

#exp-aside {
  display: none;
}

.exp-cover > div {
  width: 100%;
}

.exp-title-div {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.exp-title {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--js-color);
}

.js-img-mobile {
  width: 2.5rem;
  height: 2.5rem;
  transition: all 3s ease-in-out;
  position: absolute;
  right: 0;
}

.showInterception > div > .exp-title-div > .js-img-mobile {
  -webkit-animation: jsJump 1.5s linear alternate;
  -moz-animation: jsJump 1.5s linear alternate;
  animation: jsJump 1.5s linear alternate;
}

.exp-img {
  display: none;
}

@-webkit-keyframes jsJump {
  0% {
    transform: rotate(-40deg);
  }

  35% {
    transform: rotate(-40deg);
  }

  55% {
    transform: rotate(25deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  90% {
    transform: rotate(10deg);
  }
}
@-moz-keyframes jsJump {
  0% {
    transform: rotate(-40deg);
  }

  35% {
    transform: rotate(-40deg);
  }

  55% {
    transform: rotate(25deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  90% {
    transform: rotate(10deg);
  }
}
@keyframes jsJump {
  0% {
    transform: rotate(-40deg);
  }

  35% {
    transform: rotate(-40deg);
  }

  55% {
    transform: rotate(25deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  90% {
    transform: rotate(10deg);
  }
}

.exp-ul,
.exp-achiv-ul {
  list-style: none;
}
/* .exp-company-achiv-ul {
  list-style-type: "> ";
  margin-left: 1rem;
} */

.exp-company-achiv-ul {
  list-style-type: none;
}
.exp-company-achiv-ul > li {
  position: relative;
  margin-left: 15px;
}
.exp-company-achiv-ul > li::before {
  content: ">";
  position: absolute;
  left: -15px;
}
.exp-company-achiv-ul > li:first-child {
  position: unset;
  margin-left: 0;
}
.exp-company-achiv-ul > li:first-child:before {
  content: none;
}

.exp-company-job-title {
  text-transform: uppercase;
}

.exp-company-data-div {
  display: flex;
  flex-direction: column;
  line-height: 1.3rem;
  padding: 0.7rem 0;
  gap: 0.5rem;
}

.exp-company-title {
}

.exp-company-dates,
.exp-company-stack {
  display: flex;
  gap: 0.3rem;
  font-size: 0.9rem;
}

.exp-company-stack {
  gap: 0.5rem;
  /* margin-bottom: 1rem; */
}

.exp-company-stack-item {
  position: relative;
  max-width: 400px;
}

.exp-company-stack-item::after {
  content: "";
  height: 0.1rem;
  width: 100%;
  background-color: whitesmoke;
  position: absolute;
  bottom: 0;
  left: 0;
}

.exp-company-achiv-ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  text-align: left;
  line-height: 1.2rem;
}

.exp-company-achiv-item {
  font-size: 0.9rem;
}

/* @media (min-width: 450px) {
  .exp-company-achiv-ul {
    max-width: 400px;
  }
} */

@media (min-width: 650px) {
  .exp-cover {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #exp-decoration,
  .exp-main {
    flex: 0.5;
  }

  #exp-decoration {
    display: flex;
    justify-content: center;
  }

  .exp-img {
    display: block;
    width: 15rem;
    height: 15rem;
    object-fit: contain;
    align-self: center;
    border-radius: 50%;
    background-color: white;
    margin-left: 0;
  }

  .exp-company-stack {
    flex-wrap: wrap;
    gap: 0.4rem;
  }
}

@media (min-width: 800px) {
  .exp-img {
    width: 18rem;
    height: 18rem;
  }
}

@media (min-width: 1150px) {
  .exp-title-div,
  .exp-ul,
  .exp-company-achiv-ul {
    max-width: 100%;
  }

  /* .showInterception > div > .exp-title-div > .js-img-mobile {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    animation-delay: 5s;
  } */
}

@media (min-width: 1368px) {
  #exp-decoration,
  .exp-main {
    flex: 0.45;
    max-width: 800px;
  }
  .exp-img {
    margin-right: 4rem;
  }
}

@media (min-width: 1550px) {
  .exp-cover {
    min-height: auto;
  }
  .exp-title-div,
  .exp-ul {
    max-width: 800px;
  }

  /*   .exp-company-job-title {
    font-size: 1.6rem;
  } */

  .exp-company-data-div > h4 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .exp-company-dates,
  .exp-company-stack {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  .exp-company-achiv-item {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
}

@media (min-width: 2000px) {
  .exp-company-job-title {
    font-size: 1.6rem;
  }

  .exp-company-data-div > h4 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .exp-company-dates,
  .exp-company-stack {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  .exp-company-achiv-item {
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
}
