@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --linkedin-color: #0a66c2;
  --email-color: #cd0404;
  --cv-color: black;
  --cv-color: black;
  --dark-blue: #023047;
  --sky-blue: #8ecae6;
  --sky-blue-darker: #219ebc;
  --bone: #f1faee;
  --soft-gray: #3c3c3c;
  --js-color: #fdd500;
  --node-color: #22a066;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  min-height: 100vh;
}

.App {
  width: 100%;
  min-height: 100svh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.padding {
  padding: 0.5rem;
}

.main {
  width: 100%;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  filter: grayscale(100%);
  transition: all 1.5s;
}

.showInterception {
  opacity: 1;
  filter: blur(0);
  filter: grayscale(0%);
}

@media (min-width: 1368px) {
  section {
    margin-top: 0 !important;
    min-height: 60vh !important;
  }

  h2 + img {
    width: 3rem !important;
    height: 3rem !important;
  }
}
