.external-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  justify-content: start;
  min-height: 70vh;
  padding: 1rem 0.7rem;
  --firs-in-appear: 1.2s;
  --second-in-appear: 1.3s;
  --last-in-appear: 1.4s;
}

.section-main-div-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 450px; */
  width: 100%;
  position: relative;
}

.section-title {
  font-size: 2rem;
  text-transform: uppercase;
}

.stack-title {
  color: var(--node-color);
}

.node-img-mobile {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 0;
}

.showInterception > div > div > .node-img-mobile {
  -webkit-animation: hardSlowRotation 3s linear alternate;
  -moz-animation: hardSlowRotation 3s linear alternate;
  animation: hardSlowRotation 3s linear alternate;
}

.cover-lang-icons,
.cover-techs-icons {
  width: 100%;
  min-height: 8rem;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-around;
  position: relative;
}
.external-container > h3,
.external-container > h3 {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  max-width: 600px;
  font-size: 0.9rem;
}

@-webkit-keyframes hardSlowRotation {
  25% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes hardSlowRotation {
  25% {
    transform: rotate(360deg);
  }
}
@keyframes hardSlowRotation {
  25% {
    transform: rotate(360deg);
  }
}

.section > aside {
  display: none;
}

/* ANIMACIONES DE LAS LOS ICONOS */

/* ANIMACIONES DE LOS ELEMENTOS INTERNOS */
.showInterception > div > article > .icon-cover > .inner-icon-cover > img {
  transition: all 1s ease-in-out;
  -webkit-animation: expandImg var(--firs-in-appear) linear forwards;
  -moz-animation: expandImg var(--firs-in-appear) linear forwards;
  animation: expandImg var(--firs-in-appear) ease-in-out forwards;
}

.showInterception > div > article > .icon-cover > .inner-icon-cover > h4 {
  transition: all 1s ease-in-out;
  -webkit-animation: expandText var(--firs-in-appear) linear forwards;
  -moz-animation: expandText var(--firs-in-appear) linear forwards;
  animation: expandText var(--firs-in-appear) ease-in-out forwards;
}

/* PARA LOS PRIMEROS ICONOS EN APARECER */
.showInterception
  > div
  > article
  > .icon-cover:nth-child(2)
  > .inner-icon-cover:nth-child(n)
  > img,
.showInterception
  > div
  > article
  > .icon-cover:nth-child(6)
  > .inner-icon-cover:nth-child(n)
  > img {
  -webkit-animation-duration: var(--second-in-appear);
  -moz-animation-duration: var(--second-in-appear);
  animation-duration: var(--second-in-appear);
}
.showInterception
  > div
  > article
  > .icon-cover:nth-child(2)
  > .inner-icon-cover:nth-child(n)
  > h4,
.showInterception
  > div
  > article
  > .icon-cover:nth-child(6)
  > .inner-icon-cover:nth-child(n)
  > h4 {
  -webkit-animation-duration: var(--second-in-appear);
  -moz-animation-duration: var(--second-in-appear);
  animation-duration: var(--second-in-appear);
}

/* PARA LOS SEGUNDOS ICONOS EN APARECER */
.showInterception
  > div
  > article
  > .icon-cover:nth-child(3)
  > .inner-icon-cover:nth-child(n)
  > img,
.showInterception
  > div
  > article
  > .icon-cover:nth-child(5)
  > .inner-icon-cover:nth-child(n)
  > img {
  -webkit-animation-duration: var(--last-in-appear);
  -moz-animation-duration: var(--last-in-appear);
  animation-duration: var(--last-in-appear);
}

.showInterception
  > div
  > article
  > .icon-cover:nth-child(3)
  > .inner-icon-cover:nth-child(n)
  > h4,
.showInterception
  > div
  > article
  > .icon-cover:nth-child(5)
  > .inner-icon-cover:nth-child(n)
  > h4 {
  -webkit-animation-duration: var(--last-in-appear);
  -moz-animation-duration: var(--last-in-appear);
  animation-duration: var(--last-in-appear);
}

/* PARA EL ULTIMO ICONO EN APARECER */
.showInterception
  > div
  > article
  > .icon-cover:nth-child(4)
  > .inner-icon-cover:nth-child(n)
  > img {
  -webkit-animation-duration: 1.4s;
  -moz-animation-duration: 1.4s;
  animation-duration: 1.4s;
}

.showInterception
  > div
  > article
  > .icon-cover:nth-child(4)
  > .inner-icon-cover:nth-child(n)
  > h4 {
  -webkit-animation-duration: 1.4s;
  -moz-animation-duration: 1.4s;
  animation-duration: 1.4s;
}

@-webkit-keyframes expand {
  0% {
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
  }
}
@-moz-keyframes expand {
  0% {
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
  }
}
@keyframes expand {
  0% {
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
  }
}

@-webkit-keyframes expandImg {
  0% {
    width: 0;
    height: 0;
  }
}
@-moz-keyframes expandImg {
  0% {
    width: 0;
    height: 0;
  }
}

@keyframes expandImg {
  0% {
    width: 0;
    height: 0;
  }
}

@-webkit-keyframes expandText {
  0% {
    font-size: 0rem;
  }
}
@-moz-keyframes expandText {
  0% {
    font-size: 0rem;
  }
}
@keyframes expandText {
  0% {
    font-size: 0rem;
  }
}

@media (min-width: 1153px) {
  /* ANIMACION DE LA CAJA*/
  .showInterception > div > article > .icon-cover {
    transition: all 1s ease-in-out;
    -webkit-animation: expand var(--firs-in-appear) linear forwards;
    -moz-animation: expand var(--firs-in-appear) linear forwards;
    animation: expand var(--firs-in-appear) ease-in-out forwards;
  }

  /* PRIMEROS EN APARECER, ICONOS 2 Y 6 */
  .showInterception > div > article > .icon-cover:nth-child(2),
  .showInterception > div > article > .icon-cover:nth-child(6) {
    -webkit-animation-duration: var(--firs-in-appear);
    -moz-animation-duration: var(--firs-in-appear);
    animation-duration: var(--firs-in-appear);
  }

  /* SEGUNDOS EN APARECER, ICONOS 3 Y 5 */
  .showInterception > div > article > .icon-cover:nth-child(3),
  .showInterception > div > article > .icon-cover:nth-child(5) {
    -webkit-animation-duration: var(--second-in-appear);
    -moz-animation-duration: var(--second-in-appear);
    animation-duration: var(--second-in-appear);
  }

  /* TERCERO EN APARECER, ICONOS 4 */
  .showInterception > div > article > .icon-cover:nth-child(4) {
    -webkit-animation-duration: var(--last-in-appear);
    -moz-animation-duration: var(--last-in-appear);
    animation-duration: var(--last-in-appear);
  }
}

@media (min-width: 650px) {
  .section-main-div-cover {
    max-width: 800px;
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .external-container {
    padding: 0;
  }

  .external-container,
  .section > aside {
    flex: 0.5;
  }

  .section > aside {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .section > aside > img {
    object-fit: contain;
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
    background-color: white;
  }

  .cover-lang-icons,
  .cover-techs-icons {
    justify-content: center;
  }
}

@media (min-width: 450px) {
  .section {
    padding: 2rem 1rem;
  }
}
@media (min-width: 800px) {
  .external-container {
    min-height: 80vh;
  }
  .external-container {
    justify-content: center;
  }
}

@media (min-width: 1368px) {
  .external-container,
  .section > aside {
    flex: 0.45;
  }
}
